body {
  margin-left: 65px;
  margin-top: 150px;
  margin-right: 95px;
  margin-bottom: 150px;
  background-color: rgb(242, 242, 242);
}

/*container-------------*/
.container {
  display: flex;
  overflow-wrap: normal;
}
.first-side {
  background-color: rgb(55, 52, 141);
  width: 90px;
  height: 900px;
  border: 1px;
  border-radius: 15px 0px 0px 15px;
  margin-left: 5px;
  text-align: center;
}
.img-power {
  margin-top: 70px;
  cursor: pointer;
}
#run {
  margin-top: 30px;
  cursor: pointer;
}
.font-icon {
  margin-top: 40px;
  cursor: pointer;
}
.icon-arc {
  margin-top: 40px;
  cursor: pointer;
}
.icon-gear {
  margin-top: 40px;
  cursor: pointer;
}
/*---------------------*/

/*Second*/
.second-side {
  background-color: rgb(249, 250, 252);
  width: 935px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
}
.name-header {
  margin-left: 30px;
  margin-top: 45px;
}
.name-header span {
  margin-left: 15px;
  margin-top: 45px;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
}
.daily-static {
  margin-left: 40px;
  margin-top: 45px;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
.calender {
  display: flex;
  margin-top: 50px;
  margin-left: 430px;
  width: 180px;
  height: 50px;
  border: 1px solid;
  border-radius: 12px;
  border-style: hidden;
  text-align: center;
  justify-content: center;
  background-color: rgb(242, 242, 242);
}
.date {
  margin-top: 15px;
  color: rgb(55, 52, 141);
}
.calender-icon {
  margin-left: 15px;
  margin-top: 15px;
  color: rgb(55, 52, 141);
}
.activity {
  margin-top: 50px;
  display: flex;
}

.text-heart {
  width: 180px;
  height: 120px;
  border: 1px solid;
  border-radius: 12px 0px 0px 12px;
  background-color: rgb(255, 255, 255);
  border-style: hidden;
  margin-left: 40px;
  display: flex;
}
.name-heart {
  margin-left: 30px;
  /*margin-bottom: 30px;*/
  margin-top: 30px;
  color: rgb(244, 163, 171);
}
.heart {
  margin-top: 30px;
  margin-left: 5px;
  color: grey;
}
.num-area {
  display: flex;
}
.num {
  margin-left: -55px;
  margin-top: 60px;
  font-size: 30px;
  font-family: "Mukta", sans-serif;
  font-family: "Recursive", sans-serif;
}
.Text-1 {
  margin-top: 75px;
  font-size: 15px;
  margin-left: 5px;
  color: grey;
}
.colorbar {
  width: 62px;
  height: 120px;
  border: 1px solid;
  border-radius: 0px 12px 12px 0px;
  background-color: rgb(255, 255, 255);
  margin-left: 220px;
  margin-top: -120px;
  background-color: rgb(242, 242, 242);
  position: relative;
  border-style: hidden;
}
.color-pro {
  width: 62px;
  height: 90px;
  border: 1px solid;
  border-radius: 0px 0px 12px 0px;
  margin-top: 30px;
  background-color: rgb(100, 192, 59);
  text-align: center;
  justify-content: center;
  border-style: hidden;
  position: absolute;
}

.colorbar-running {
  width: 62px;
  height: 120px;
  border: 1px solid;
  border-radius: 0px 12px 12px 0px;
  background-color: rgb(255, 255, 255);
  margin-left: 220px;
  margin-top: -120px;
  background-color: rgb(242, 242, 242);
  position: relative;
  border-style: hidden;
}
.color-pro-run {
  width: 62px;
  height: 55px;
  border: 1px solid;
  border-radius: 0px 0px 12px 0px;
  margin-top: 65px;
  background-color: rgb(65, 201, 191);
  text-align: center;
  justify-content: center;
  border-style: hidden;
  position: absolute;
}
.colorbar-cal {
  width: 62px;
  height: 120px;
  border: 1px solid;
  border-radius: 0px 12px 12px 0px;
  background-color: rgb(255, 255, 255);
  margin-left: 220px;
  margin-top: -120px;
  background-color: rgb(242, 242, 242);
  position: relative;
  border-style: hidden;
}
.color-pro-cal {
  width: 62px;
  height: 40px;
  border: 1px solid;
  border-radius: 0px 0px 12px 0px;
  margin-top: 80px;
  background-color: rgb(163, 167, 178);
  text-align: center;
  justify-content: center;
  border-style: hidden;
  position: absolute;
}
.Graph {
  display: flex;
  margin-top: -0px;
}
.graph-des {
  margin-left: 15px;
}
.u-done {
  margin-left: 80px;
  margin-top: 50px;
  color: white;
}

.goals-done {
  width: 250px;
  height: 265px;
  border: 1px solid;
  background-color: rgb(55, 52, 141);
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
}
.hundread {
  width: 80px;
  height: 70px;
  border: 4px solid;
  border-radius: 20px;
  background-color: white;
  border-color: rgb(78, 197, 193);
  margin-top: 10%;
  margin-left: 32%;
}
.n {
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(78, 197, 193);
}
.map {
  margin-left: 10px;
  border: 2px solid rgb(55, 52, 141);
  /*border-radius: 25px;
	border-style: none;
	*/
}

/*---------------*/

.third-side {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 900px;
  border-radius: 0px 15px 15px 0px;
}
.icon-text-img {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
}

.icon-bell {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid;
  background-color: rgb(243, 246, 255);
  border-style: hidden;
}
.icon-bell i {
  padding: 5px;

  color: rgb(55, 52, 141);
}

.avtar img {
  width: 35px;
  height: 35px;
  border: 2px solid;
  border-radius: 8px;
  border-style: hidden;
}
.avtar span {
  font-family: "Lato", sans-serif;
}

.today__container__main {
  margin-top: 10px;
  height: 75px;
  width: 100%;
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #f9fafc;
  border: none;
}

.calenderT {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.today__name {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.font-low {
  font-family: "Lato", sans-serif;
}
.for__c {
  margin: 0px;
  padding: 0px;
}
/* .today__container {
  width: 400px;
  height: 700px;
  border: 2px solid;
} */

.timing {
  display: flex;
  align-items: center;
  /*height: 60px;
	width: 60px;*/
  margin-left: 20px;
  border: 1px solid;
  border-radius: 12px;
  background-color: #eef2fd;
}

/* Graph design */

.graph__container {
  width: 560px;
  height: 280px;
}

.main {
  display: flex;
}
.colWrapper {
  height: 150px;
  width: 5px;
  position: relative;
  border: 1px solid #ccc;
  margin-left: 30px;
}
.barContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bar {
  width: 100%;
  height: 20px;
}

.graph-bottom {
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
}

.graph-bottom span {
  margin-left: 18px;
}

.for__side {
  display: flex;
  margin-top: 40px;
}

.graph__detail {
  display: flex;
  justify-content: space-between;
}

.graph__detail_choice {
  display: flex;
}

.round div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
}
